html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: #2a2a2a;
}

.container-main{
	height: 100%;
	width: 100%;
}

.container-map{
	background-color: null;
	height: 100%;
	width: 100%;

	padding: 150px;
}

.section-map{
	height: 100%;
	width: 100%;
}

#vmap{
	height: 100%;
	width: 100%;
	max-height: 900px;
	max-width: 900px;
	animation-name: mapframe;
	animation-duration: 3s;
	animation-fill-mode: forwards;  
	transition: transform .5s ease-in-out;
}

.section-pix{
	height: 100%;
	width: 100%;
	background-color: #0E2F44;
}

.container-pix-1{
	height: 100px;
	background-color: #FFFFFF;
}

.container-pix-2{
	height:100px;
	background-color: #000000;
}



@keyframes mapframe{
	0%{
		top: 90%;
		opacity: 0.0;
	}
	100%{
		top: 0%;
		opacity: 1.0;
	}

}